.all .item a{
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #4a53eb;
    border-radius: 5px;
    color: black;
    margin: 0 5px;
}

a {
    color: red;
    text-decoration: none;
}
.active {
    background-color: deepskyblue;
    color: azure;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.all {
    width: 100%;
    height: 450px;
    overflow-y: scroll;
}
.all .item {
    height: 50px;
    display: flex;
    align-items: center;
}
.all .item span {
    text-overflow: ellipsis;
}
.all .item div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
}
.content {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    position: relative;
}
.footer {
    position: absolute;
    bottom: 0;
    background-color: deepskyblue;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: red;
    font-size: 30px;
}
.header {
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: skyblue;
    color: white;
    line-height: 50px;
    font-size: 30px;
}
.nav ul {
    background-color: blue;
    color: white;
    display: flex;
}
li {
    flex: 1;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    line-height: 50px;
}
.nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.write {
    text-align: center;
    padding: 20px;
}
.write a{
    display: inline-block;
    width: 80px;
    background-color: red;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 10px;
}
.editTit {
    padding: 10px;
    margin: auto;
    width: 80%;
    height: 20px;
}
.editBody {
    padding: 10px;
    margin-top: 30px;
    width: 80%;
    height: 200px;
}
.thingTitle {
    text-align: center;
    font-size: 30px;
}
.thingContent {
    min-height: 300px;
    text-align: left;
}

