.calender {
    display: inline-block;
    width: 200px;
    position: relative;
    z-index: 23;
}
.calenderInput {
    width: 100%;
}
.calenderCon {
    border: 1px solid lightgray ;
    position: absolute;
    top: 35px;
    width: 100%;
}
.calenderTitle, .calenderBody {
    padding: 10px;
}
.calenderTitle {
    color: white;
    font-size: 10px;
    background-color: #E77408;
    width: 100%;
}
.calenderAct {
    width: 100%;
    padding: 10px 0;
    display: flex;
}
.calenderAct >div {
    flex: 1;
}
.calenderAct .showDate {
    flex: 4;
    text-align: center;
}
.calenderWeek {
    display: flex;
}
.calenderWeek span {
    flex: 1;
    text-align: center;
}
.row {
    width: 100%;
    display: flex;
}
.cell {
    color: lightgray;
    height: 25px;
    flex: 1;
    text-align: center;
}
.date {
    color: black;
}
